<main>
    <div class="container img-container">
        <div class="row">
            <div class="col s12">
                <img id="clear-image" src="/img/rsl.png" alt="RSL">
                <div class="centered">Old Articles Cleared Out!</div>
            </div>
        </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6" style="text-align: center">
                <a href="/scrape"><button class="land-btn waves-effect waves-light btn-large teal darken-3">Scrape New Articles</button></a>
            </div>
            <div class="col s12 m6 l6" style="text-align: center">
                <a href="/articles"><button class="land-btn waves-effect waves-light btn-large teal darken-3">View Articles</button></a>
            </div>
        </div>
    </div>
</main>