<main>
    <div class="container img-container">
        <div class="row">
            <div class="col s12">
                <img id="land-image" src="/img/utah.jpg" alt="broncos field">
                <div id="img-text" class="centered">Bleacher Report Article Scraper</div>
            </div>
        </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col s12 m4 l4" style="text-align: center">
                <a href="/clear"><button class="land-btn waves-effect waves-light btn-large teal darken-3">Clear Old Articles</button></a>
            </div>
            <div class="col s12 m4 l4" style="text-align: center">
                <a href="/scrape"><button class="land-btn waves-effect waves-light btn-large teal darken-3">Scrape New Articles</button></a>
            </div>
            <div class="col s12 m4 l4" style="text-align: center">
                <a href="/articles"><button class="land-btn waves-effect waves-light btn-large teal darken-3">View Articles</button></a>
            </div>
        </div>
    </div>
</main>